<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="constantin.fpv_vr">
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.software.vr.mode"
        android:required="false" />
    <uses-feature
        android:name="android.software.vr.high_performance"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false" />
    <!-- a write implies a read. Needed for ground recording and play test file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Home location for OSD -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- open UDP ports -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Info about networks (EZ-WB connect via WIFI) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- for the notification -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- DJI SDK begin -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false" />
    <!-- DJI SDK end -->

    <application
        android:name=".xdji.DJIApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">
        <!-- DJI SDK begin-->
        <uses-library android:name="com.android.future.usb.accessory" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="5d59d94daccf4da9a2d51e3d" />
        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <!-- DJI SDK end-->

        <activity
            android:name=".main.AMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".play_mono.AMonoVideoOSD"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen" />
        <activity
            android:name=".play_stereo.AStereoNormal"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen" />
        <activity
            android:name=".play_stereo.AStereoSuperSYNC"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen" />
        <activity
            android:name=".xexperimental.AStereoDaydream"
            android:enableVrMode="@string/gvr_vr_mode_component"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen"
            tools:targetApi="n">
            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category
                   android:name="com.google.intent.category.DAYDREAM"
                   android:exported="false" />
               <category android:name="com.google.intent.category.CARDBOARD"
                   android:exported="false" />
           </intent-filter>
            -->
        </activity>
        <activity
            android:name=".connect.AConnect"
            android:screenOrientation="behind"
            android:theme="@style/MyStyleNoActionBar" />
        <activity
            android:name=".settings.AGroundRecordingSettings"
            android:screenOrientation="behind"
            android:theme="@style/MyStyleNoActionBar" />
        <activity
            android:name=".settings.ASettingsOSD"
            android:screenOrientation="behind" />
        <activity
            android:name=".settings.ASettingsVR"
            android:screenOrientation="behind" />
        <activity
            android:name="constantin.telemetry.core.ASettingsTelemetry"
            android:screenOrientation="behind" />
        <activity
            android:name="constantin.video.core.AVideoSettings"
            android:screenOrientation="behind" />
        <activity
            android:name="constantin.renderingx.core.gles_info.AWriteGLESInfo"
            android:screenOrientation="behind" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
    </application>

</manifest>