<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="constantin.fpv_vr">

    <!-- Info about networks (EZ-WB connect via WIFI) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- for the notification -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- ******************************************* DJI SDK begin *******************************************-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false"/>
    <!-- ******************************************* DJI SDK end *******************************************-->

    <!--https://developer.android.com/about/versions/11/privacy/storage-->
    <!-- Set requestLegacyExternalStorage to true -->
    <application
        android:name=".djiintegration.DJIApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        android:requestLegacyExternalStorage="true" >

        <activity
            android:name=".OSD2.ATestlayout"
            android:theme="@style/MyStyleFullscreen" />
        <activity
            android:name=".main.AMain"
            android:directBootAware="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter_rotg02" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter_rotg02" />
        </activity>
        <activity
            android:name=".play_mono.AMonoVideoOSD"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen">
            <!--<intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter_rotg02" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter_rotg02" /> -->
        </activity>
        <activity
            android:name=".play_stereo.AStereoVR"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen" />
        <activity
            android:name=".connect.AConnect"
            android:screenOrientation="behind"
            android:theme="@style/MyStyleNoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".settings.AGroundRecordingSettings"
            android:screenOrientation="behind"
            android:theme="@style/MyStyleNoActionBar" />
        <activity
            android:name=".settingsOSD.ASettingsOSD"
            android:screenOrientation="behind" />

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!-- ******************************************* DJI SDK begin *******************************************-->
        <uses-library android:name="com.android.future.usb.accessory" />
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="5d59d94daccf4da9a2d51e3d" />
        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" >
        </service>
        <!-- added by consti, see here https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- ******************************************* DJI SDK end *******************************************-->
    </application>

</manifest>